*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.body{
    background-color: #ccd5ae;
    margin: 0% 20%;
}
form{
    border-radius: 50px;
    padding: 5%;
    background-color: #ccd5ae;
    box-shadow: 
      15px 15px 20px 0 rgba(0, 0, 0, 0.25),
      -9px -9px 12px 0 rgba(255, 255, 255, 0.3);
    justify-content: center;
}
h1{
    text-align: center;
 }
#have-acc,
#dont-have-acc{
    text-decoration: none;
   margin: auto;
}
 #display-signup-msg,
 #display-user-name{
     margin-bottom: 5%;
 }
.container{
    padding: 3%;
}
.navbar{
    border-radius: 20px;
    border: 1px solid #000;
}
.warning-text{
    margin: auto;
   color: yellow;
}

.empty-error{
    display: none;
}

.form-group{
    margin-left: 20%;
}


.btn{
  margin-left: 43%;
  margin-top: 3%;
}

#nameHelp,
#emailHelp,
#passwordHelp,
#l-emailHelp,
#l-passwordHelp{
    color: red;
}

